@import "./min";

.move-enter-active {
  transition: all .3s ease;
}
.move-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.move-enter, .move-leave-active {
  transform: translateY(10px);
  opacity: 0;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}

.clearfix {
  zoom: 1;
}
.lineChart{
  border-top: 1px solid #575757;
  margin: 0 pxTorem(24);
  .charts{
    #myChart{
      margin: 0 auto;
      width: pxTorem(700);
      height: pxTorem(260);
    }
  }

}
